::placeholder { 
    color: black;
    opacity: 0.7; 
  }

.login-background{
    background-image: url(../../assets/TechBlue.jpg);
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-title{
    font-weight: bold;
    margin: 10px auto 15px auto;
    text-align: center;
}

.login-content{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 20px;
    width: 30%;
}

.fa-users{
    color: rgb(50, 123, 172);
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.login-input{
    border: none;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.56);
    color: black;
    height: 35px;
    margin-bottom: 5px;
    width: 100%;
}

.login-input:focus{
    outline: none;
}

.btn-login{
    background-color:rgb(70, 181, 255);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    width: 100%;
    
    transition: background-color .3s ease;
}

.btn-login:hover{
    background-color: rgb(27, 141, 216);
}